<div class="login-container">
  <div class="login-content">
    <div class="welcome-message">
      <h1>Bem-vindo ao MyWallet</h1>
      <h2>Centralize todos seus investimentos em um lugar só.</h2>
    </div>
    <div class="login-form">
      <form>
        <div class="form-group">
          <label for="email"></label>
          <input
            type="email"
            id="email"
            name="email"
            required
            placeholder="seu@email.com"
            class="input-field"
          >
        </div>
        <div class="form-group password-group">
          <label for="password"></label>
          <input
            type="password"
            id="password"
            name="password"
            required
            placeholder="Digite sua senha"
            class="input-field"
          >
          <span class="password-toggle">
            <i class="pi pi-eye"></i>
          </span>
        </div>
        <div class="login-btn">
          <button type="submit" class="login-btn">Entrar</button>
        </div>
        <div class="no-account">
          <a href="cadastro">Não possuo uma conta</a>
        </div>
      </form>
    </div>
  </div>
  <div class="login-background"></div>
</div>
